
# Unit test / coverage reports
.pytest_cache/
.__pycache__/


# Flask stuff:
instance/
.webassets-cache

# Environments
.venv/
venv/
*.pyc 

# mkdocs documentation
/site


# Flask app (same app but written initially with flask)
/elev_app.py

# others
pip-log.txt
.pdm.toml
.pdm-python
.pdm-build/